@model ApiPlatzi_.Models.ProductsContainer
@{
    ViewBag.Title = "Platzi Fake Store API";
    ViewBag.Message = "Your API for your e-commerce or shopping website prototype.";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
